@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,208;1,208&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@layer reset, theme, layout;

/* Global Style */
.wrapper {
  width: min(1160px, 90%);
  margin-inline: auto;
}

.wrapper-inline {
  width: min(1440px, 100%);
  padding-inline: 2em;
}

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer theme {
  :root {
    /* Color */
    --body-bg: #1b1b1b;
    --body-txt: #ffffff;

    --primary:#00b7eb;



    /* Font style */
    --ff: "Roboto", sans-serif;
  }
}

@layer layout {
  body {
    background-color: var(--body-bg);
    font-family: var(--ff);
  }
  
  header,
  nav {
    background-color: rgba(0,0,0,0.2);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
    position: sticky;
    top: 0;
  }

  .menu {
    cursor: pointer;
    display: none;
  }

  .logo {
    font-size: clamp(1.2rem, 5vw, 1rem);
    color: var(--body-txt);
  }

  nav {
    display: flex;
    align-items: center;
  }

  nav ul {
    display: inherit;
    list-style-type: none;
    gap: 1rem;
  }

  nav a {
    text-decoration: none;
    color: var(--body-txt);
  }

  main {
    min-height: calc(100vh - 5rem);
  }
}

@media (max-width: 50rem) {
  @layer layout {  
    .menu {
      display: block;
    }
    
    nav {
      --height: 80px;

      position: fixed;
      top: var(--height);
      left: -100%;
      transition: 0.2s;
      width: 100%;
      padding-inline: 2em;
    }

    nav ul {
      flex-direction: column;
      padding-block: 2em;
      min-height: calc(100vh - 5rem);
    }

    /* Script for Navbar */
    nav.show {
      left: 0;
    }
  }
  
}