:root {
  /** Base colors */
  --clr-dark-a0: #121212;
  --clr-light-a0: #ffffff;
  --clr-green: #3ac90f;

  /** Theme primary colors */
  --clr-primary-a0: #5d27db;
  --clr-primary-a10: #7541e0;
  --clr-primary-a20: #8a59e5;
  --clr-primary-a30: #9d70e9;
  --clr-primary-a40: #af88ed;
  --clr-primary-a50: #c09ff2;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #1b1623;
  --clr-surface-tonal-a10: #302b38;
  --clr-surface-tonal-a20: #47424d;
  --clr-surface-tonal-a30: #5e5a64;
  --clr-surface-tonal-a40: #77737c;
  --clr-surface-tonal-a50: #918d95;

  /* Font Style */
  --font-family-body: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-family-text: ink free;
  --font-weight-l: 400;
  --font-weight-md: 600;
  --font-weight-h: 700;

  /* Font size  */
  --font-size-ssm: clamp(1rem, 3vw, 1.2rem);
  --font-size-sm: clamp(1.2rem, 4vw, 1.5rem);
  --font-size-md: clamp(1.3rem, 3vw, 2rem);
  --font-size-lg: clamp(2rem, 6vw, 3rem);
  --font-size-xl: clamp(3.5rem, 10vw, 4.5rem);
}
